<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Este es el inicio de la pagina</title>
</head>
<body>
    <p>This is my page</p>
    <p>Can i use the bathroom please</p>
    <p>Que es una base de datos</p>
    <p>Are you crazy</p>
</body>
</html>